<a href="https://colab.research.google.com/github/Yewon-Kang-92/python_HW/blob/master/week9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 리스트에 숫자를 하나씩 추가
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
print(number_list)

[1, 2, 3, 4, 5]

In [2]:
# 리스트 컴프리헨션 (기본형)
number_list = [number for number in range(1, 6)]
print(number_list)

[1, 2, 3, 4, 5]

In [3]:
# 함수 적용: 각 요소에 -1
number_list = [number - 1 for number in range(1, 6)]
print(number_list)

[0, 1, 2, 3, 4]

In [4]:
# 조건 적용: 홀수만 선택
a_list = [number for number in range(1, 6) if number % 2 == 1]
print(a_list)

[1, 3, 5]

In [5]:
# 같은 조건을 for문으로 작성
a_list = []
for number in range(1, 6):
    if number % 2 == 1:
        a_list.append(number)
print(a_list)

[1, 3, 5]

In [11]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

# 모두 소문자로 변환
print([word.lower() for word in sentence])

['i', 'love', 'python', 'soooooo', 'much!!!']

In [10]:
# 길이가 6 초과인 단어만 선택
print([word for word in sentence if len(word) > 6])

['Soooooo', 'MUCH!!!']

In [9]:
# (x, x^2, x^3) 형태의 튜플 리스트 생성
print([(x, x ** 2, x ** 3) for x in range(10)])

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729)]

In [8]:
# 이중 for문을 리스트 내포로 작성
rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [12]:
# 다음 결과는?
print([(i, j) for i in range(5) for j in range(i)])

[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2), (4, 3)]

In [13]:
# 중복된 문자를 포함한 경우
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [14]:
# 중복 제거: set(word) 사용
letter_counts = {letter: word.count(letter) for letter in set(word)}
print(letter_counts)

{'e': 2, 's': 1, 'r': 1, 't': 2, 'l': 1}

In [15]:
# 1~5 중 3으로 나눈 나머지가 1인 값만 set으로 저장
a_set = {number for number in range(1, 6) if number % 3 == 1}
print(a_set)

{1, 4}

In [16]:
# 딕셔너리 키-값 반전
d = {'a': 1, 'b': 2}
print({v: k for k, v in d.items()})

{1: 'a', 2: 'b'}

In [17]:
# 회문 판별 예제
hamlet = ['madam', 'noon', 'civic', 'apple']

def is_palindrome(word):
    return word == word[::-1]

print({word for word in hamlet if is_palindrome(word.lower())})

{'civic', 'madam', 'noon'}

In [18]:
# 함수의 기본 구조 예시
def function_name(param1, param2):
    value = param1 + param2  # do_something() 대신 간단한 처리 예시
    return value

# 함수 실행
result = function_name(3, 4)
print(result)  # 7

7

In [19]:
# 두 수를 더하는 함수
def add(a, b):
    return a + b

# 함수 실행
print(add(10, 20))  # 30

30

In [20]:
# zip으로 여러 리스트 병렬 순회
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [21]:
# zip으로 리스트 쌍 만들기
english = ('Monday', 'Tuesday', 'Wednesday')
french = ('Lundi', 'Mardi', 'Mercredi')

# 리스트 형태
print(list(zip(english, french)))

# 딕셔너리 형태
print(dict(zip(english, french)))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [22]:
# 위치 인자를 사용하는 함수
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

# 함수 실행
print(menu('chardonnay', 'chicken', 'cake'))

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [23]:
# 키워드 인자를 사용하는 함수
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

# 키워드 인자 방식
print(menu(entree='beef', dessert='bagel', wine='bordeaux'))

# 혼합 방식: 위치 인자가 먼저
print(menu('frontenac', dessert='flan', entree='fish'))

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}
{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [24]:
# dessert에 기본값 지정
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

# dessert 생략
print(menu('chardonnay', 'chicken'))

# dessert 지정
print(menu('dunkelfelder', 'duck', 'doughnut'))

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [25]:
# 다양한 기본값을 가진 함수 정의
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

# 다양한 호출 방식
print(menu(100))
print(menu(price=120, entree='beef'))
print(menu(dessert='bagel', price=110))
print(menu('eighty', 'saint-pierre', 'fish'))
print(menu('hundred', wine='saint-pierre'))

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

In [27]:
# 간단한 docstring 예시
def echo(anything):
    'echo returns its input argument'
    return anything

# 실행
print(echo('Hello'))

# 멀티라인 docstring 예시
def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:

    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

# 실행
print_if_true('Yes!', True)

Hello
Yes!

In [28]:
# 위에서 정의한 함수에 대해 help 사용
help(echo)
help(print_if_true)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:

    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.